.AdministrarInfracciones {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.AdministrarInfracciones__Opciones {
  padding: 10px;
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-end;
}
.AdministrarInfracciones__Opciones--Boton {
  width: auto;
  padding: 0 10px;
  min-height: 50px;
  height: 50px;
  max-height: 50px;
  font-size: 16px;
  font-weight: bold;
  background: var(--BgGradienteAzul);
  border: transparent;
  color: var(--ColorBlanco);
  margin-top: 10px;
  transition: 0.3s ease-in-out all;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.AdministrarInfracciones__Opciones--Boton:hover {
  transform: scale(1.02);
}
.AdministrarInfracciones__Opciones--Boton ion-icon {
  font-size: 20px;
}
.AdministrarInfraccionesListaCompleta {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  gap: 25px;
}
.AdministrarInfraccionesListaCompleta__Titulo {
  grid-column: 1 / -1;
  color: var(--ColorNaranja);
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}
.AdministrarInfraccionesListaCompleta__Buscar {
  grid-column: 3/5;
  display: flex;
}
.AdministrarInfraccionesListaCompleta__Buscar input {
  width: 100%;
  min-height: 50px;
  height: 50px;
  max-height: 50px;
  background-color: var(--ColorGrisClaro);
  border: 1px solid var(--ColorGrisClaro);
  padding: 0 10px;
  color: var(--ColorNegro);
  font-size: 16px;
  font-weight: bold;
}
.AdministrarInfraccionesListaCompleta__Buscar__Lupa {
  min-width: 50px;
  min-height: 50px;
  background: var(--BgGradiente);
  color: var(--ColorBlanco);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.AdministrarInfraccionesListaCompleta__TextoResultados {
  grid-column: 1 / -1;
  color: var(--ColorVerde);
  text-align: right;
  font-style: italic;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: right;
}
.AdministrarInfraccionesListaCompleta__TextoResultados ion-icon {
  font-size: 20px;
}
.AdministrarInfraccionesListaCompleta__Cuerpo {
  grid-column: 1 / -1;
  overflow-x: auto;
}
.AdministrarInfraccionesListaCompleta__Cuerpo__Tabla {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}
.AdministrarInfraccionesListaCompleta__Cuerpo__Tabla__Encabezado tr th {
  background: var(--BgGradiente);
  color: var(--ColorBlanco);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  min-width: 200px;
}
.AdministrarInfraccionesListaCompleta__Cuerpo__Tabla__Encabezado
  tr
  th
  ion-icon {
  font-size: 20px;
}
.AdministrarInfraccionesListaCompleta__Cuerpo__Tabla__Cuerpo {
  background-color: var(--ColorBlanco);
  text-align: center;
  color: var(--ColorNegro);
}
.AdministrarInfraccionesListaCompleta__Cuerpo__Tabla__Cuerpo tr td {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-right: 2px solid var(--ColorGrisClaro);
  border-bottom: 2px solid var(--ColorGrisClaro);
  border-left: 2px solid var(--ColorGrisClaro);
}
.AdministrarInfraccionesListaCompleta__Cuerpo__Tabla__Cuerpo__VerDetalles {
  cursor: pointer;
  background-color: var(--ColorAzul);
  border: 2px solid var(--ColorAzul);
  color: var(--ColorBlanco);
  font-weight: bold;
  font-size: 12px;
  width: 50px;
  height: 35px;
  transition: 0.3s ease-in-out all;
}
.AdministrarInfraccionesListaCompleta__Cuerpo__Tabla__Cuerpo__VerDetalles:hover {
  background-color: transparent;
  color: var(--ColorAzul);
}
.AdministrarInfraccionesPorFecha {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  gap: 25px;
}
.AdministrarInfraccionesPorFecha__Titulo {
  grid-column: 1 / -1;
  color: var(--ColorNaranja);
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
}
.AdministrarInfraccionesPorFecha__Titulo--Fechas {
  font-size: 12px;
  color: var(--ColorRojo);
}
.AdministrarInfraccionesPorFecha__Botones {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.AdministrarInfraccionesPorFecha__Botones--Boton {
  width: auto;
  padding: 0 10px;
  min-height: 50px;
  height: 50px;
  max-height: 50px;
  font-size: 16px;
  font-weight: bold;
  background: var(--BgGradiente);
  border: none;
  color: var(--ColorNegro);
  margin-top: 10px;
  transition: 0.3s ease-in-out all;
  cursor: pointer;
}
.AdministrarInfraccionesPorFecha__TextoResultados {
  grid-column: 1 / -1;
  color: var(--ColorVerde);
  text-align: right;
  font-style: italic;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: right;
}
.AdministrarInfraccionesPorFecha__TextoResultados ion-icon {
  font-size: 20px;
}
.AdministrarInfraccionesPorFecha__Cuerpo {
  grid-column: 1 / -1;
  overflow-x: auto;
}
.AdministrarInfraccionesPorFecha__Cuerpo__Tabla {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}
.AdministrarInfraccionesPorFecha__Cuerpo__Tabla__Encabezado tr th {
  background: var(--BgGradiente);
  color: var(--ColorBlanco);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  min-width: 200px;
}
.AdministrarInfraccionesPorFecha__Cuerpo__Tabla__Encabezado tr th ion-icon {
  font-size: 20px;
}
.AdministrarInfraccionesPorFecha__Cuerpo__Tabla__Cuerpo {
  background-color: var(--ColorBlanco);
  text-align: center;
}
.AdministrarInfraccionesPorFecha__Cuerpo__Tabla__Cuerpo tr td {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-right: 2px solid var(--ColorGrisClaro);
  border-bottom: 2px solid var(--ColorGrisClaro);
  border-left: 2px solid var(--ColorGrisClaro);
}
.AdministrarInfraccionesPorFecha__Cuerpo__Tabla__Cuerpo__VerDetalles {
  cursor: pointer;
  background-color: var(--ColorAzul);
  border: 2px solid var(--ColorAzul);
  color: var(--ColorBlanco);
  font-weight: bold;
  font-size: 12px;
  width: 50px;
  height: 35px;
  transition: 0.3s ease-in-out all;
}
.AdministrarInfraccionesPorFecha__Cuerpo__Tabla__Cuerpo__VerDetalles:hover {
  background-color: transparent;
  color: var(--ColorAzul);
}
.AdministrarInfraccionesDetalles {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.AdministrarInfraccionesDetalles {
  grid-template-columns: repeat(4, 1fr);
}
.AdministrarInfraccionesDetalles__Seccion {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.AdministrarInfraccionesDetalles__Seccion img {
  width: 75px;
  height: 75px;
}
.AdministrarInfraccionesDetalles__Seccion h1 {
  color: var(--ColorAzul);
  text-transform: uppercase;
  font-size: 22px;
}
.AdministrarInfraccionesDetalles__Detalles {
  grid-column: span 1;
  background-color: var(--ColorGrisClaro);
  padding: 10px;
  text-align: center;
  transition: 0.3s ease-in-out all;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.AdministrarInfraccionesDetalles__Detalles.Naranja {
  background: var(--BgGradiente);
  color: var(--ColorBlanco);
  font-weight: bold;
}
.AdministrarInfraccionesDetalles__Detalles.Verde {
  background: var(--BgGradienteVerde);
  color: var(--ColorBlanco);
  font-weight: bold;
}
.AdministrarInfraccionesDetalles__Detalles.Azul {
  background: var(--BgGradienteAzul);
  color: var(--ColorBlanco);
  font-weight: bold;
}
.AdministrarInfraccionesDetalles__Detalles.Rojo {
  background: var(--BgGradienteRojo);
  color: var(--ColorBlanco);
  font-weight: bold;
}

.AdministrarInfraccionesDetalles__Detalles.Dos {
  grid-column: span 2;
}
.AdministrarInfraccionesDetalles__Detalles.Tres {
  grid-column: span 3;
}
.AdministrarInfraccionesDetalles__Detalles.Completo {
  grid-column: 1 / -1;
}
.AdministrarInfraccionesDetalles__Detalles ion-icon {
  font-size: 25px;
}
@media (max-width: 1000px) {
  .AdministrarInfraccionesListaCompleta__Buscar {
    grid-column: 1 / -1;
  }
}
@media (width <= 850px) {
  .AdministrarInfraccionesDetalles__Seccion {
    font-size: 16px;
  }
  .AdministrarInfraccionesDetalles__Seccion img {
    width: 40px;
    height: 40px;
  }
  .AdministrarInfraccionesDetalles__Detalles {
    font-size: 14px;
  }
}
@media (width <= 700px) {
  .AdministrarInfraccionesDetalles {
    grid-template-columns: repeat(2, 1fr);
  }
  .AdministrarInfraccionesDetalles__Detalles.Nombre,
  .AdministrarInfraccionesDetalles__Detalles.Tres {
    grid-column: 1 / -1;
  }
}
@media (max-width: 500px) {
  .AdministrarInfracciones__Opciones--Boton {
    width: 100%;
  }
  .AdministrarInfraccionesListaCompleta__Titulo {
    font-size: 20px;
  }
  .AdministrarInfraccionesListaCompleta__Cuerpo__Tabla__Encabezado
    tr
    th
    ion-icon {
    font-size: 16px;
  }
  .AdministrarInfraccionesListaCompleta__Cuerpo__Tabla__Encabezado tr th {
    font-size: 14px;
  }
  .AdministrarInfraccionesListaCompleta__Cuerpo__Tabla__Cuerpo tr td {
    font-size: 12px;
  }
  .AdministrarInfraccionesListaCompleta__Cuerpo__Tabla__Cuerpo tr td {
    padding: 5px;
  }
  .AdministrarInfraccionesListaCompleta__TextoResultados {
    font-size: 12px;
  }
  .AdministrarInfraccionesListaCompleta__TextoResultados ion-icon {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .AdministrarInfraccionesPorFecha__Titulo {
    font-size: 20px;
  }
  .AdministrarInfraccionesPorFecha__Cuerpo__Tabla__Encabezado tr th ion-icon {
    font-size: 16px;
  }
  .AdministrarInfraccionesPorFecha__Cuerpo__Tabla__Encabezado tr th {
    font-size: 14px;
  }
  .AdministrarInfraccionesPorFecha__Cuerpo__Tabla__Cuerpo tr td {
    font-size: 12px;
  }
  .AdministrarInfraccionesPorFecha__Cuerpo__Tabla__Cuerpo tr td {
    padding: 5px;
  }
  .AdministrarInfraccionesPorFecha__TextoResultados {
    font-size: 12px;
  }
  .AdministrarInfraccionesPorFecha__TextoResultados ion-icon {
    font-size: 16px;
  }
}
