.AdministrarDocumentos {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.AdministrarDocumentos__Formulario,
.AdministrarDocumentos__Lista {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.AdministrarDocumentos__Lista {
  grid-template-columns: repeat(4, 1fr);
}
.AdministrarDocumentos__Formulario--Titulo,
.AdministrarDocumentos__Lista--Titulo {
  grid-column: 1 / -1;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--ColorNaranja);
  text-align: center;
}
.AdministrarDocumentos__Lista__Subtitulo {
  grid-column: 1 / -1;
  font-size: 18px;
  color: var(--ColorNaranja);

  display: flex;
  gap: 5px;
}
.AdministrarDocumentos__Clasificacion {
  grid-column: 1 / -1;
  display: flex;
  gap: 5px;
}
.AdministrarDocumentos__Clasificacion--Texto {
  width: auto;
  height: 30px;
  padding: 0 10px;
  font-size: 14px;
  color: var(--ColorNegro);
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.AdministrarDocumentos__Clasificacion--Texto ion-icon {
  font-size: 16px;
}
.AdministrarDocumentos__Clasificacion--Texto.Activa {
  background-color: var(--ColorGrisClaro);
  color: var(--ColorNegro);
}
.AdministrarDocumentos__Clasificacion--Texto.Desactivada {
  color: var(--ColorBlanco);
  background-color: var(--ColorRojo);
}
.AdministrarDocumentos__Documento {
  grid-column: span 1;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s ease-in-out all;
  color: var(--ColorNegro);
  background-color: var(--ColorGrisClaro);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.AdministrarDocumentos__Documento.No {
  background-color: var(--ColorRojo);
  color: var(--ColorBlanco);
}
.AdministrarDocumentos__Documento ion-icon {
  font-size: 25px;
}
.AdministrarDocumentos__Documento__Detalles {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.AdministrarDocumentos__Documento__Detalles img {
  width: 75px;
}
.AdministrarDocumentos__Documento__Detalles--Activa {
  position: absolute;
  top: 10px;
  right: 10px;
  min-width: 40px;
  min-height: 25px;
  border-radius: 15px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.AdministrarDocumentos__Documento__Detalles--Activa {
  position: absolute;
  top: 10px;
  right: 10px;
  min-width: 40px;
  min-height: 25px;
  border-radius: 15px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.AdministrarDocumentos__Documento__Detalles--Activa.No {
  background-color: var(--ColorRojo);
}
.AdministrarDocumentos__Documento.No
  .AdministrarDocumentos__Documento__Detalles--Activa.No {
  background: var(--ColorNegro);
}
.AdministrarDocumentos__Documento__Detalles--Activa.Si {
  background-color: var(--ColorVerde);
}
.AdministrarDocumentos__Documento__Detalles--Activa button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  transition: 0.3s ease-in-out all;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.AdministrarDocumentos__Documento__Detalles--Activa.Si button {
  transform: translateX(8px);
}
.AdministrarDocumentos__Documento__Detalles--Activa.Si button ion-icon {
  color: var(--ColorVerde);
}
.AdministrarDocumentos__Documento__Detalles--Activa.No button {
  transform: translateX(-8px);
}
.AdministrarDocumentos__Documento__Detalles--Activa.No button ion-icon {
  color: var(--ColorRojo);
}
.AdministrarDocumentos__Documento__Detalles--Activa button ion-icon {
  font-size: 10px;
}
.AdministrarDocumentos__Documento__Opciones {
  width: 100%;
  min-height: 35px;

  display: flex;
}
.AdministrarDocumentos__Documento__Opciones--Boton {
  width: 100%;
  height: 100%;
  background: var(--BgGradienteAzul);
  color: var(--ColorBlanco);
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.AdministrarDocumentos__Documento__Opciones--Boton:hover ion-icon {
  transform: scale(1.2);
}
.AdministrarDocumentos__Documento__Opciones--Boton ion-icon {
  font-size: 18px;
  transition: 0.3s ease-in-out all;
}
@media (max-width: 900px) {
  .GrupoDeBotonesSuperior--Boton {
    width: 100%;
  }
}
@media (width <= 800px) {
  .AdministrarDocumentos__Lista {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (width <= 500px) {
  .AdministrarDocumentos__Lista {
    grid-template-columns: repeat(2, 1fr);
  }
  .AdministrarDocumentos__Clasificacion {
    font-size: 18px;
  }
  .AdministrarDocumentos__Documento,
  .AdministrarDocumentos__Clasificacion--Texto {
    font-size: 12px;
  }
  .AdministrarDocumentos__Documento__Opciones {
    min-height: 30px;
  }
  .AdministrarDocumentos__Documento__Detalles img {
    width: 55px;
  }
}
@media (width <= 435px) {
  .AdministrarDocumentos__Clasificacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .AdministrarDocumentos__Clasificacion--Texto {
    grid-column: span 1;
  }
}
