.MisInfracciones {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.MisInfracciones__Opciones {
  padding: 10px;
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-end;
}
.MisInfracciones__Opciones--Boton {
  width: auto;
  padding: 0 10px;
  min-height: 50px;
  height: 50px;
  max-height: 50px;
  font-size: 16px;
  font-weight: bold;
  background: var(--BgGradienteAzul);
  border: transparent;
  color: var(--ColorBlanco);
  margin-top: 10px;
  transition: 0.3s ease-in-out all;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.MisInfracciones__Opciones--Boton:hover {
  transform: scale(1.02);
}
.MisInfracciones__Opciones--Boton ion-icon {
  font-size: 20px;
}
@media (max-width: 500px) {
  .MisInfracciones__Opciones--Boton {
    width: 100%;
  }
}
