.MisInfracciones {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.MisInfracciones__Opciones {
  padding: 10px;
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-end;
}
.MisInfracciones__Opciones--Boton {
  width: auto;
  padding: 0 10px;
  min-height: 50px;
  height: 50px;
  max-height: 50px;
  font-size: 16px;
  font-weight: bold;
  background: var(--BgGradienteAzul);
  border: transparent;
  color: var(--ColorBlanco);
  margin-top: 10px;
  transition: 0.3s ease-in-out all;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.MisInfracciones__Opciones--Boton:hover {
  transform: scale(1.02);
}
.MisInfracciones__Opciones--Boton ion-icon {
  font-size: 20px;
}
.MisInfraccionesListaCompleta {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  gap: 25px;
}
.MisInfraccionesListaCompleta__Titulo {
  grid-column: 1 / -1;
  color: var(--ColorNaranja);
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}
.MisInfraccionesListaCompleta__Buscar {
  grid-column: 3/5;
  display: flex;
}
.MisInfraccionesListaCompleta__Buscar input {
  width: 100%;
  min-height: 50px;
  height: 50px;
  max-height: 50px;
  background-color: var(--ColorGrisClaro);
  border: 1px solid var(--ColorGrisClaro);
  padding: 0 10px;
  color: var(--ColorNegro);
  font-size: 16px;
  font-weight: bold;
}
.MisInfraccionesListaCompleta__Buscar__Lupa {
  min-width: 50px;
  min-height: 50px;
  background: var(--BgGradiente);
  color: var(--ColorBlanco);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.MisInfraccionesListaCompleta__TextoResultados {
  grid-column: 1 / -1;
  color: var(--ColorVerde);
  text-align: right;
  font-style: italic;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: right;
}
.MisInfraccionesListaCompleta__TextoResultados ion-icon {
  font-size: 20px;
}
.MisInfraccionesListaCompleta__Cuerpo {
  grid-column: 1 / -1;
  overflow-x: auto;
}
.MisInfraccionesListaCompleta__Cuerpo__Tabla {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}
.MisInfraccionesListaCompleta__Cuerpo__Tabla__Encabezado tr th {
  background: var(--BgGradiente);
  color: var(--ColorBlanco);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  min-width: 200px;
}
.MisInfraccionesListaCompleta__Cuerpo__Tabla__Encabezado tr th ion-icon {
  font-size: 20px;
}
.MisInfraccionesListaCompleta__Cuerpo__Tabla__Cuerpo {
  background-color: var(--ColorBlanco);
  text-align: center;
  color: var(--ColorNegro);
}
.MisInfraccionesListaCompleta__Cuerpo__Tabla__Cuerpo tr td {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-right: 2px solid var(--ColorGrisClaro);
  border-bottom: 2px solid var(--ColorGrisClaro);
  border-left: 2px solid var(--ColorGrisClaro);
}
.MisInfraccionesListaCompleta__Cuerpo__Tabla__Cuerpo__VerDetalles {
  cursor: pointer;
  background-color: var(--ColorAzul);
  border: 2px solid var(--ColorAzul);
  color: var(--ColorBlanco);
  font-weight: bold;
  font-size: 12px;
  width: 50px;
  height: 35px;
  transition: 0.3s ease-in-out all;
}
.MisInfraccionesListaCompleta__Cuerpo__Tabla__Cuerpo__VerDetalles:hover {
  background-color: transparent;
  color: var(--ColorAzul);
}
.MisInfraccionesPorFecha {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  gap: 25px;
}
.MisInfraccionesPorFecha__Titulo {
  grid-column: 1 / -1;
  color: var(--ColorNaranja);
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
}
.MisInfraccionesPorFecha__Titulo--Fechas {
  font-size: 12px;
  color: var(--ColorRojo);
}
.MisInfraccionesPorFecha__Botones {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.MisInfraccionesPorFecha__Botones--Boton {
  width: auto;
  padding: 0 10px;
  min-height: 50px;
  height: 50px;
  max-height: 50px;
  font-size: 16px;
  font-weight: bold;
  background: var(--BgGradiente);
  border: none;
  color: var(--ColorNegro);
  margin-top: 10px;
  transition: 0.3s ease-in-out all;
  cursor: pointer;
}
.MisInfraccionesPorFecha__TextoResultados {
  grid-column: 1 / -1;
  color: var(--ColorVerde);
  text-align: right;
  font-style: italic;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: right;
}
.MisInfraccionesPorFecha__TextoResultados ion-icon {
  font-size: 20px;
}
.MisInfraccionesPorFecha__Cuerpo {
  grid-column: 1 / -1;
  overflow-x: auto;
}
.MisInfraccionesPorFecha__Cuerpo__Tabla {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}
.MisInfraccionesPorFecha__Cuerpo__Tabla__Encabezado tr th {
  background: var(--BgGradiente);
  color: var(--ColorBlanco);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  min-width: 200px;
}
.MisInfraccionesPorFecha__Cuerpo__Tabla__Encabezado tr th ion-icon {
  font-size: 20px;
}
.MisInfraccionesPorFecha__Cuerpo__Tabla__Cuerpo {
  background-color: var(--ColorBlanco);
  text-align: center;
}
.MisInfraccionesPorFecha__Cuerpo__Tabla__Cuerpo tr td {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-right: 2px solid var(--ColorGrisClaro);
  border-bottom: 2px solid var(--ColorGrisClaro);
  border-left: 2px solid var(--ColorGrisClaro);
}
.MisInfraccionesPorFecha__Cuerpo__Tabla__Cuerpo__VerDetalles {
  cursor: pointer;
  background-color: var(--ColorAzul);
  border: 2px solid var(--ColorAzul);
  color: var(--ColorBlanco);
  font-weight: bold;
  font-size: 12px;
  width: 50px;
  height: 35px;
  transition: 0.3s ease-in-out all;
}
.MisInfraccionesPorFecha__Cuerpo__Tabla__Cuerpo__VerDetalles:hover {
  background-color: transparent;
  color: var(--ColorAzul);
}
.MisInfraccionesDetalles {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.MisInfraccionesDetalles {
  grid-template-columns: repeat(4, 1fr);
}
.MisInfraccionesDetalles__Seccion {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.MisInfraccionesDetalles__Seccion img {
  width: 75px;
  height: 75px;
}
.MisInfraccionesDetalles__Seccion h1 {
  color: var(--ColorAzul);
  text-transform: uppercase;
  font-size: 22px;
}
.MisInfraccionesDetalles__Detalles {
  grid-column: span 1;
  background-color: var(--ColorGrisClaro);
  padding: 10px;
  text-align: center;
  transition: 0.3s ease-in-out all;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.MisInfraccionesDetalles__Detalles.Naranja {
  background: var(--BgGradiente);
  color: var(--ColorBlanco);
  font-weight: bold;
}
.MisInfraccionesDetalles__Detalles.Verde {
  background: var(--BgGradienteVerde);
  color: var(--ColorBlanco);
  font-weight: bold;
}
.MisInfraccionesDetalles__Detalles.Azul {
  background: var(--BgGradienteAzul);
  color: var(--ColorBlanco);
  font-weight: bold;
}
.MisInfraccionesDetalles__Detalles.Rojo {
  background: var(--BgGradienteRojo);
  color: var(--ColorBlanco);
  font-weight: bold;
}

.MisInfraccionesDetalles__Detalles.Dos {
  grid-column: span 2;
}
.MisInfraccionesDetalles__Detalles.Tres {
  grid-column: span 3;
}
.MisInfraccionesDetalles__Detalles.Completo {
  grid-column: 1 / -1;
}
.MisInfraccionesDetalles__Detalles ion-icon {
  font-size: 25px;
}
@media (max-width: 1000px) {
  .MisInfraccionesListaCompleta__Buscar {
    grid-column: 1 / -1;
  }
}
@media (width <= 850px) {
  .MisInfraccionesDetalles__Seccion {
    font-size: 16px;
  }
  .MisInfraccionesDetalles__Seccion img {
    width: 40px;
    height: 40px;
  }
  .MisInfraccionesDetalles__Detalles {
    font-size: 14px;
  }
}
@media (width <= 700px) {
  .MisInfraccionesDetalles {
    grid-template-columns: repeat(2, 1fr);
  }
  .MisInfraccionesDetalles__Detalles.Nombre,
  .MisInfraccionesDetalles__Detalles.Tres {
    grid-column: 1 / -1;
  }
}
@media (max-width: 500px) {
  .MisInfracciones__Opciones--Boton {
    width: 100%;
  }
  .MisInfraccionesListaCompleta__Titulo {
    font-size: 20px;
  }
  .MisInfraccionesListaCompleta__Cuerpo__Tabla__Encabezado tr th ion-icon {
    font-size: 16px;
  }
  .MisInfraccionesListaCompleta__Cuerpo__Tabla__Encabezado tr th {
    font-size: 14px;
  }
  .MisInfraccionesListaCompleta__Cuerpo__Tabla__Cuerpo tr td {
    font-size: 12px;
  }
  .MisInfraccionesListaCompleta__Cuerpo__Tabla__Cuerpo tr td {
    padding: 5px;
  }
  .MisInfraccionesListaCompleta__TextoResultados {
    font-size: 12px;
  }
  .MisInfraccionesListaCompleta__TextoResultados ion-icon {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .MisInfraccionesPorFecha__Titulo {
    font-size: 20px;
  }
  .MisInfraccionesPorFecha__Cuerpo__Tabla__Encabezado tr th ion-icon {
    font-size: 16px;
  }
  .MisInfraccionesPorFecha__Cuerpo__Tabla__Encabezado tr th {
    font-size: 14px;
  }
  .MisInfraccionesPorFecha__Cuerpo__Tabla__Cuerpo tr td {
    font-size: 12px;
  }
  .MisInfraccionesPorFecha__Cuerpo__Tabla__Cuerpo tr td {
    padding: 5px;
  }
  .MisInfraccionesPorFecha__TextoResultados {
    font-size: 12px;
  }
  .MisInfraccionesPorFecha__TextoResultados ion-icon {
    font-size: 16px;
  }
}
