.CrearInfraccionDetallesInfraccion {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.CrearInfraccionDetallesInfraccion {
  grid-template-columns: repeat(3, 1fr);
}
.CrearInfraccionDetallesInfraccion--Titulo {
  grid-column: 1 / -1;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--ColorNaranja);
  text-align: center;
  margin-top: 10px;
}
