.CrearInfraccionSeleccionarGrua {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.CrearInfraccionSeleccionarGrua--Titulo {
  grid-column: 1 / -1;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--ColorNaranja);
  text-align: center;
  margin-top: 10px;
}
.CrearInfraccionSeleccionarGrua__Buscar {
  grid-column: 5/6;
  display: flex;
}
.CrearInfraccionSeleccionarGrua__Buscar input {
  width: 100%;
  min-height: 50px;
  height: 50px;
  max-height: 50px;
  background: var(--ColorGrisClaro);
  border: 1px solid var(--ColorGrisClaro);
  padding: 0 10px;
  color: var(--ColorNegro);
  font-size: 16px;
  font-weight: bold;
}
.CrearInfraccionSeleccionarGrua__Buscar__Lupa {
  min-width: 50px;
  min-height: 50px;
  color: var(--ColorBlanco);
  background: var(--BgGradiente);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.CrearInfraccionSeleccionarGrua__TextoResultados {
  grid-column: 1 / -1;
  color: var(--ColorVerde);
  text-align: right;
  font-style: italic;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: right;
}
.CrearInfraccionSeleccionarGrua__TextoResultados ion-icon {
  font-size: 20px;
}
.CrearInfraccionSeleccionarGrua__Grua {
  grid-column: span 1;
  color: var(--ColorNegro);
  background-color: var(--ColorGrisClaro);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  min-height: 100px;
  height: auto;
  border: 2px solid var(--ColorGrisClaro);
  transition: 0.3s ease-in-out all;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.CrearInfraccionSeleccionarGrua__Grua img {
  width: 80px;
}
.CrearInfraccionSeleccionarGrua__Grua ion-icon {
  font-size: 25px;
}
.CrearInfraccionSeleccionarGrua__Grua:hover {
  border: 2px solid var(--ColorNegro);
  background: var(--BgGradiente);
  cursor: pointer;
  transform: scale(1.02);
}
@media (width <= 1300px) {
  .CrearInfraccionSeleccionarGrua__Buscar {
    grid-column: 3/6;
  }
}

@media (width <= 1120px) {
  .CrearInfraccionSeleccionarGrua__Buscar {
    grid-column: 1 / -1;
  }
  .CrearInfraccionSeleccionarGrua {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (width <= 800px) {
  .CrearInfraccionSeleccionarGrua {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (width <= 600px) {
  .CrearInfraccionSeleccionarGrua {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 500px) {
  .CrearInfraccionSeleccionarGrua__TextoResultados {
    font-size: 12px;
  }
  .CrearInfraccionSeleccionarGrua__Grua {
    font-size: 12px;
  }
  .CrearInfraccionSeleccionarGrua__Grua img {
    width: 65px;
  }
}
