.CrearInfraccionSeleccionarGrua {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.CrearInfraccionSeleccionarGrua--Titulo {
  grid-column: 1 / -1;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--ColorNaranja);
  text-align: center;
}
.CrearInfraccionSeleccionarGrua__Grua {
  grid-column: span 1;
  color: var(--ColorNegro);
  background-color: var(--ColorGrisClaro);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  min-height: 100px;
  height: auto;
  border: 2px solid var(--ColorGrisClaro);
  transition: 0.3s ease-in-out all;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.CrearInfraccionSeleccionarGrua__Grua img {
  width: 80px;
}
.CrearInfraccionSeleccionarGrua__Grua ion-icon {
  font-size: 25px;
}
.CrearInfraccionSeleccionarGrua__Grua:hover {
  border: 2px solid var(--ColorNegro);
  background: var(--BgGradiente);
  cursor: pointer;
  transform: scale(1.02);
}
@media (width <= 1120px) {
  .CrearInfraccionSeleccionarGrua {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (width <= 800px) {
  .CrearInfraccionSeleccionarGrua {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (width <= 600px) {
  .CrearInfraccionSeleccionarGrua {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 500px) {
  .CrearInfraccionSeleccionarGrua--Titulo {
    font-size: 18px;
  }
  .CrearInfraccionSeleccionarGrua__Grua {
    font-size: 12px;
  }
  .CrearInfraccionSeleccionarGrua__Grua img {
    width: 65px;
  }
}
