.Navbar {
  position: fixed;
  /* width: 1024px; */
  width: 100%;
  height: 75px;
  border-bottom: 1px solid var(--ColorGrisClaro);
  background-color: var(--ColorBlanco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 999;
}
.Navbar__Boton {
  background: none;
  outline: none;
  border: none;
  color: var(--ColorNegro);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  transition: 0.5s ease all;
}
.Navbar__Boton ion-icon {
  font-size: 18px;
}
.Navbar__Boton:hover {
  color: var(--ColorNaranja);
  transform: scale(1.1);
}
.Navbar__Titulo {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.Navbar__FotoAgente {
  background-color: transparent;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  object-fit: cover;
  border: 2px dashed var(--ColorNegro);
}
@media (width > 1920px) {
  .Navbar {
    width: 1920px;
  }
}
/* @media (width < 1024px) {
  .Navbar {
    width: 100%;
  }
} */
@media (width < 500px) {
  .Navbar__Boton {
    font-size: 14px;
  }
  .Navbar__Boton ion-icon {
    font-size: 16px;
  }
  .Navbar__Titulo {
    font-size: 18px;
  }
  .Navbar__FotoAgente {
    width: 40px;
    height: 40px;
  }
}
