.AdministrarGruas__Formulario {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.AdministrarGruas__Formulario.Ocultar {
  min-height: 75px;
  max-height: 75px;
  overflow: hidden;
}
