.AdministrarAgentes__Formulario {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.AdministrarAgentes__Formulario.Ocultar {
  min-height: 75px;
  max-height: 75px;
  overflow: hidden;
}
.AdministrarAgentes__Formulario--MensajeEncriptado {
  grid-column: 1 / -1;
  text-align: center;
  color: var(--ColorRojo);
  font-weight: bold;
}

@media (width <= 800px) {
  .AdministrarAgentes__Formulario {
    grid-template-columns: repeat(1, 1fr);
  }
}
