.TodasLasInfraccionesListaCompleta {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.TodasLasInfraccionesListaCompleta__Titulo {
  grid-column: 1 / -1;
  color: var(--ColorNaranja);
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}
.TodasLasInfraccionesListaCompleta__Cuerpo {
  grid-column: 1 / -1;
  overflow-x: auto;
}
.TodasLasInfraccionesListaCompleta__Cuerpo__Tabla {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}
.TodasLasInfraccionesListaCompleta__Cuerpo__Tabla__Encabezado tr th {
  background: var(--BgGradiente);
  color: var(--ColorBlanco);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  min-width: 200px;
}
.TodasLasInfraccionesListaCompleta__Cuerpo__Tabla__Encabezado tr th ion-icon {
  font-size: 18px;
}
.TodasLasInfraccionesListaCompleta__Cuerpo__Tabla__Cuerpo {
  background-color: var(--ColorBlanco);
  text-align: center;
  color: var(--ColorNegro);
}
.TodasLasInfraccionesListaCompleta__Cuerpo__Tabla__Cuerpo tr td {
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border-right: 2px solid var(--ColorGrisClaro);
  border-bottom: 2px solid var(--ColorGrisClaro);
  border-left: 2px solid var(--ColorGrisClaro);
}
.TodasLasInfraccionesListaCompleta__Cuerpo__Tabla__Cuerpo__VerDetalles {
  cursor: pointer;
  background-color: var(--ColorAzul);
  border: 2px solid var(--ColorAzul);
  color: var(--ColorBlanco);
  font-weight: bold;
  font-size: 12px;
  width: 50px;
  height: 35px;
  transition: 0.3s ease-in-out all;
}
.TodasLasInfraccionesListaCompleta__Cuerpo__Tabla__Cuerpo__VerDetalles:hover {
  background-color: transparent;
  color: var(--ColorAzul);
}
@media (max-width: 500px) {
  .AdministrarInfracciones__Opciones--Boton {
    width: 100%;
  }

  .TodasLasInfraccionesListaCompleta__Titulo {
    font-size: 18px;
  }
  .TodasLasInfraccionesListaCompleta__Cuerpo__Tabla__Encabezado tr th ion-icon {
    font-size: 16px;
  }
  .TodasLasInfraccionesListaCompleta__Cuerpo__Tabla__Encabezado tr th {
    font-size: 14px;
  }
  .TodasLasInfraccionesListaCompleta__Cuerpo__Tabla__Cuerpo tr td {
    font-size: 12px;
  }
  .TodasLasInfraccionesListaCompleta__Cuerpo__Tabla__Cuerpo tr td {
    padding: 5px;
  }
  .TodasLasInfraccionesListaCompleta__Cuerpo__Tabla__Encabezado tr th {
    font-size: 12px;
  }
}
