.AdministrarConceptos__Formulario {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.AdministrarConceptos__Formulario--Titulo {
  grid-column: 1 / -1;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--ColorNaranja);
  text-align: center;
}
