/* IMPORTAMOS LA FUENTE */
@font-face {
  font-family: "Rubik";
  src: url("../public/fuentes/Rubik.ttf") format("truetype");
}

/* CONFIGURACIÓN GENERAL */
:root {
  --BgGradiente: linear-gradient(90deg, #ffa726, #fb8c00);
  --BgGradienteAzul: linear-gradient(-120deg, #265fa3, #0062dd);
  --BgGradienteVerde: linear-gradient(-120deg, #408a15, #5bbf3d);
  --BgGradienteRojo: linear-gradient(-120deg, #cc362e, #ff5c5c);
  --ColorNegro: #171616;
  --ColorBlanco: #ffffff;
  --ColorNaranja: #ffa726;
  --ColorAzul: #0062dd;
  --ColorVerde: #408a15;
  --ColorRojo: #cc362e;
  --ColorGrisClaro: #f3f3f3;
  --ColorGrisContenido: #d8d7d7;
  --ColorGrisMedioOscuro: rgb(161, 161, 161);

  --toastify-color-success: var(--ColorVerde);
  --toastify-color-info: var(--ColorAzul);
  --toastify-color-warning: var(--ColorNaranja);
  --toastify-color-error: var(--ColorRojo);

  --toastify-toast-width: 400px;
  --toastify-font-family: "Rubik", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
a {
  text-decoration: none;
  color: var(--ColorNegro);
}
body {
  background: var(--ColorGrisContenido);
}
input {
  /* accent-color: var(--MainYellow); */
  outline: none;
}
input[type="file"] {
  display: none;
}
::-webkit-scrollbar {
  width: 12px; /* Ancho del scroll */
}
::-webkit-scrollbar-thumb {
  background-color: var(--ColorNaranja); /* Color del scroll thumb */
}
::-webkit-scrollbar-track {
  background-color: var(--ColorBlanco); /* Color del track */
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
}
